<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Yurusu Aikikai</title>

<link href="Cpage.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="head">
	<img alt="Yurusu Aikikai" height="95" src="yurusu_aikikai_logo_rb.jpg" width="95" />
	<br />
	<h1>Yurusu Aikikai </h1>
</div>
<div id="navigation">
	<ul>
		<li><a href="index.html">Home</a> </li>
		<li><a href="aikido.html">Aikido</a> </li>
		<li><a href="about_us.html">About Us</a> </li>
		<li><a href="events.html">Events</a> </li>
		<li><a href="contact_us.html">Contact Us</a> </li>
		<li><a href="affiliates.html">Affiliates</a> </li>
		<li><a href="site_map.html">Site Map</a> </li>
	</ul>
</div>
<div id="content">
<div id="text">
<p>
Yurusu Aikikai is a dojo (place of training) that trains you in Budo (martial arts) following the art developed by O’Sensei called Aikido as further developed by Shoji Nishio Sensei which is called Nishio Budo.  You learn Aikido, and Iaido as well as the use of and defense of  weapons such as the bokken (wooden sword), jo (four foot wooden staff), and tanto (knife).
</p>
<p>
You can train in Aikido and Iaido regardless of age, gender, size, or physical conditioning.  Since these Budo do not depend on strength or speed, everyone has equal potential.  You ultimately learn a "way" to self-discovery and the tools to manage conflict in every day life.  These arts provide you an avenue to lead a non-violent way of life and promote an internal sense of peace and well-being.
	Aikido Class
</p>
<p>
Budo (martial arts) is not learned as a means of felling an opponent by force or by lethal instruments.  True Budo calls for bringing the inner energy of the universe to order, protecting the peace of the world, and molding, as well as preserving, everything in nature in its right form.  So you must learn the details of strong attacks and effective defenses to those attacks so that eventually you will be able to respond to any threat instantaneously and in such a way to be able to avoid being attacked.
</p>
<p>
Aikido is a discipline of one’s body, mind, and spirit in the form of self-defense.  To the first time viewer, Aikido can look like nage (the thrower) is winning over uke (the person being thrown or pinned).  Very soon after a little practice it becomes apparent that both nage and uke are winning.  Both people get to practice their movement for their collective benefit and safety.  This is why you will never see trophies and medals in an Aikido dojo.  Our prizes are the happiness we share and the better society that we create with one another.
</p>
<p>
Iaido, Japanese swordsmanship, is a traditional budo and was developed from combat practice.  Swords were the primary weapons of the Japanese warrior class who are know as Samurai.  They wore two shinken (real swords) known as daisho.  One was the katana (long sword) and the other was the wakizashi (short sword).  The sword was seen as the soul of the samurai and was therefore a sacred and very respectable weapon.  Iaido is the art of reacting to a surprise attack by counter attacking with the sword.  Most Iaido training today is with the katana, usually practiced solo, and eventually with a shinken.
</p>


</div>

</div>
<div id="footer">
	<p><a href="index.html">Home</a> | <a href="aikido.html">Aikido</a> |
	<a href="about_us.html">About Us</a> | <a href="events.html">Events</a> |
	<a href="contact_us.html">Contact Us</a> | <a href="affiliates.html">Affiliates</a> 
	| <a href="site_map.html">Site Map</a> </p>
	<p><br />
	<span class="foot_style">Copyright © 2011 Yurusu Aikikai. All Rights Reserved.</span>
	</p>
</div>

</body>

</html>



